.CodeMirror-hints {
  z-index: 9999 !important;
}

.chat-item {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* 라이트 모드 스타일 */
body[data-theme="light"] {
  background-color: #f0f0f0;
  color: #333;
}

body[data-theme="light"] .chat-item {
  background-color: #ffffff; /* 밝은 배경 */
  color: #333; /* 어두운 글씨 */
}

body[data-theme="light"] .chat-question {
  background-color: #bc8f8f; /* rosebrown 배경 */
  color: #ffffff; /* 밝은 글씨 */
}

/* 다크 모드 스타일 */
body[data-theme="dark"] {
  background-color: #333;
  color: #ccc;
}

body[data-theme="dark"] .chat-container {
  background-color: #424242;
  border-color: #616161;
}

body[data-theme="dark"] .chat-item {
  background-color: #424242; /* 어두운 모드에 대한 조정 */
  color: #ccc; /* 밝은 글씨 */
  cursor: pointer;
}

body[data-theme="dark"] .chat-question {
  background-color: #616161;
  color: #ffffff; /* 다크 모드에서도 질문은 더 밝은 글씨로 표시 */
}

body[data-theme="dark"] .chat-answer {
  background-color: #345a5e;
  color: #ffffff; /* 답변에 대한 밝은 글씨 색상 */
}

body[data-theme="dark"] .chat-input,
body[data-theme="dark"] button {
  border-color: #888;
  color: #ccc; /* 다크 모드에서 입력필드 및 버튼 글씨 색상 조정 */
}

.splitter {
  width: 10px;
  cursor: ew-resize;
  background-color: rosybrown; /* default to light mode */
  position: relative;
  z-index: 10;
}

body[data-theme="dark"] .splitter {
  background-color: #333; /* dark mode */
}

body[data-theme="light"] .splitter {
  background-color: rosybrown; /* light mode */
}

/* the rest of your CSS... */

#iframe-container {
  position: relative;
}

#iframe-container .splitter {
  left: -5px;
  top: 0;
  bottom: 0;
}

#chat-section {
  overflow: auto;
}

#editor-section {
  overflow: auto;
}
